/* This is a CSS file */

* {
  /* font-family: 'Economica', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Corben', cursive; */
font-family: 'IM Fell DW Pica SC', serif;
  font-size: 3.8vw;
}

.loading {
  font-size: 7vw;
  color: white;
}

body {
  background-color: #333333;
  /* background-color: #ffffff; */
}


table {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  /* font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; */
  font-size: 1em;
}
table th,table td{
  padding: 10px 0;
  text-align: center;
}


.btn-square-shadow {
  display: inline-block;
  padding: 0.2em 0.5em;
  text-decoration: none;
  /* background: rgb(192, 107, 28);ボタン色 */
  background: #333333;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square-shadow:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

.btn-square-shadow2 {
  display: inline-block;
  padding: 0.2em 0.5em;
  text-decoration: none;
  background: rgb(192, 107, 28);/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  /* display: block; */
  margin: 0 0 0 50px;
  /* margin-left: 123px;
  margin-right:auto; */
  /* text-align: right; */
}
.btn-square-shadow2:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

table tr:nth-child(odd){
  background-color: #eee
}
table tr:nth-child(even){
  background-color: #fff
}

/* .logImage{
  width: 30px;
} */

.social{
  width: 5vw;
  padding:0.5vw 0vw 0vw 3vw;
}